* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

svg {
  padding: 30px;
}

div.tooltip {
  position: absolute;
  width: 100px;
  height: 100px;
  pointer-events: none;
  z-index: 100;
};