* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #FFFFFD;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  background-color: #FFFFFD;
  display: flex;
  justify-content: center;
  padding: 15px 50px;
}

a {
  color: inherit;
}

.data-chart {
  display: flex;
  flex-direction: column;
  position: relative;  
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

.main-svg {
  background-color: aliceblue;
  padding: 10px 20px;
  border: 1px solid black;
}

.time-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 60px;
  margin-bottom: 15px;
}

.time-radio {
  display: inline-block;
  font-size: 1rem;
  margin-left: 10px;
  vertical-align: middle;
}

.radio-text {
  margin-left: 5px;
}

.mini-article {
  margin-top: 10px;
}

.mini-article p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.nav-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.nav-links:hover {
  color: rgb(77, 77, 77);
}

.nav-icon {
  font-size: 2rem;
}

.page-article {
  margin-right: 15px;
}

.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 700px;
  min-height: 70px;
  pointer-events: none;
  background-color: #FFFFFE;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 0.8rem;
  top: 100px;
  right: 10px;
};

.stock-title {
  font-size: 0.8rem;
  align-self: center;
}

.stock-info {
  margin: 15px 0;
  font-size: 0.9rem;
  line-height: 1.3;
}

.title-text {
  font-size: 1.5rem;
}

.chart-label {
  font-size: 1.2rem;
}

.axis-label {
  font-size: 1rem;
}

.stock-chart-line {
  fill: none;
  stroke: steelblue;
  stroke-linejoin: bevel;
  stroke-linecap: butt;
  stroke-width: 1.3;
}

.page-article {
  margin-top: 90px;
}